.main__wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.line-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.pre-line {
    width: 100%;
    max-width: 165px;
    height: 12px;
    border-bottom: 1px solid #3A3A3A;
}

.lined-subtitle {
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    font-size: 24px;
    margin-left: 15px;
    margin-right: 15px;
}

.post-line {
    width: 100%;
    height: 12px;
    max-width: 1108px;
    border-bottom: 1px solid #3A3A3A;
}

.bottom-line {
    width: 100%;
    max-width: 500px;
    height: 10px;
    margin: 0 auto;
    border-bottom: 1px solid #3A3A3A;
}

.visible-block {
    display: block;
}

.unvisible-block {
    display: none !important;
}

@media (max-width:1848px) {
    .sidebar {
        display: none;
    }
}

.main {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-right: 10px;
    padding-left: 10px;
}

.hello {
    opacity: 1 !important;
}

.full {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.full .content {
    background-color: rgba(0, 0, 0, 0.75) !important;
    height: 100%;
    width: 100%;
    display: grid;
}

.full .content img {
    left: 50%;
    transform: translate3d(0, 0, 0);
    animation: zoomin 1s ease;
    max-width: 100%;
    max-height: 95vh;
    margin: auto;
    filter: grayscale(0);
}

.byebye {
    opacity: 0;
}

.byebye:hover {
    transform: scale(0.2) !important;
}

.gallery {
    display: grid;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    // grid-auto-rows: 8px;
}

.gallery img {
    max-width: 100%;
    // border-radius: 1px;
    // box-shadow: 0 0 2px #333;
    transition: all 1s ease;
    filter: none;
}

.gallery img:hover {
    // box-shadow: 0 0 3px #333;
    transition: all 0.3s;
    filter: none;
}

.gallery .content {
    padding: 4px;
}

.gallery .gallery-item {
    transition: grid-row-start 3s linear;
    transition: transform 3s ease;
    transition: all 3s ease;
    cursor: pointer;
    opacity: 0;
}

.gallery .gallery-item.activeimg {
    opacity: 1;
}

#big {
    opacity: 0;
    transition: all .6s ease-in;
}

.fullBig#big {
    opacity: 1;
}

// .gallery .gallery-item:hover {
//     transform: scale(1);
// }
@media (max-width: 600px) {
    .gallery {
        grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    }
}

@media (max-width: 400px) {
    .gallery {
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    }
}